
/.vs
/obj
/bin
PyLibrary/.env
PyLibrary/.env
.env
PyLibrary/.env
PyLibrary/.env
/libs/__pycache__
/libs/__pycache__
/libs/__pycache__
/libs/__pycache__
/libs/__pycache__
/libs/__pycache__
*.pyc
/libs/__pycache__
